.git
.next
node_modules
coverage
out
build
data
storage
runtime
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dev.log
dev.pid
*.sqlite3
*.db
*.tar
*.tar.gz
*.tgz
DEPLOYED_COMMIT
